@charset "utf-8"; 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
	font-family: "NanumSquareAc", sans-serif;
	overflow-x: hidden;
}
li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration:none; 
	color:inherit;  
}  
img{
	max-width: 100%;
	vertical-align: top;
}



/* 
h1{
	font-size: 2.5rem;
} 
rem 단위는 최상위부모인 html을 기준으로 배율로 하는 반응형단위
rem 단위 * 10 = px단위
*/